@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@300..700&display=swap');

body {
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

h1 {
    font-family: "Indie Flower", cursive;
    font-size: 1.1rem;
    font-weight: 500;
}


.typo-logo {
    font-family: "Indie Flower", cursive;
}


@media screen and (min-width: 1024px) {
        
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.3rem;
    }
}